@{
    ViewBag.Title = "About Take Action!!!";
}
<h2 style="color:white"><center>@ViewBag.Title</center></h2>


<center><p style="color: white">This Application is designed to be a tool for businesses to assign and keep track of the progress of various tasks for it's employees</p></center>
