@{
    ViewBag.Title = "Contact Us!!!";
 }
<center><h2 style="color: white">@ViewBag.Title</h2></center>


<address style="color: white; text-align: center">
    151 W Ohio Street<br />
    Indianapolis, IN 46204<br />
    <abbr title="Phone">Phone:</abbr>
    260.615.6296
</address>

<address style="color:white; text-align: center">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">kinnejs@gmail.com</a><br />
    <strong>Maintenance:</strong> <a href="mailto:Marketing@example.com">kinnejs@gmail.com</a>
</address>