@{
    ViewBag.Title = "Home Page";
}




<h1 style="color:white; font-size: 100px; text-align:center; padding-top: 50px; padding-bottom: 100px">Take Action!!!</h1>
<p class="lead" style="font-size: 40px; color: white; text-align:center; padding-bottom: 75px">Take Action!!! is an ASP.NET web app that is used to keep track of Assignments for all of your Business Needs.  This website was built with the help of Bootstrap and was created as a project for Eleven Fifty Academy.</p>



<div class="row">

    <div class="col-md-4">
        <h2 style="color:white">ASP.NET</h2>
        <p style="color:white">
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ASP.NET &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: white">BootStrap</h2>
        <p style="color:white">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <p><a class="btn btn-default" href="https://getbootstrap.com/">BootStrap &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:white">Eleven Fifty Academy</h2>
        <p style="color:white">Eleven Fifty Academy is a 501(c)(3) nonprofit code and cybersecurity academy and was the first coding bootcamp in Indiana. We believe in impacting the lives of students by providing relevant coding skills for the most in-demand jobs in today’s tech ecosystem.</p>
        <p style="font-size: 24px"><a class="btn btn-default" href="https://elevenfifty.org/">Eleven Fifty Academy &raquo;</a></p>
    </div>
</div>